html
    head
        title= "Humidity Solutions"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        
        

    body
        h1= message
        h2= "Hello"
