html
    head
        title= "Humidity Solutions"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="Humidity Solutions for basements, garages, appartments and crawlspaces")
        meta(name="keywords", content="humidity, mold, basement, garage, appartment, ventilation, hvac, heat recovery, air, air exchanger")

        

    body
        h1= message
        h2= "Hello"
