html
    head
        title= "Humidity Solutions"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="Humidity Solutions for basement, garage, appartment and crawlspace")

        

    body
        h1= message
        h2= "Hello"
