doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= "Humidity Solutions Air Ventilation"
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Humidity Solutions for basements, garages, appartments and crawlspaces")
    meta(name="keywords", content="humidity, mold, basement, garage, appartment, ventilation, hvac, heat recovery, air, air exchanger")
    meta(name="author", content="Humidity Solutions")

    link(rel="shortcut icon", href="favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300", rel="stylesheet", type="text/css")

    meta(property="og:title", content="")
    meta(property="og:image", content="")
    meta(property="og:url", content="")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="")
    meta(name="twitter:title", content="")
    meta(name="twitter:image", content="")
    meta(name="twitter:url", content="")
    meta(name="twitter:card", content="")
    link(rel='stylesheet',href='../css/animate.css',type='text/css')
    link(rel='stylesheet',href='../css/icomoon.css',type='text/css')
    link(rel='stylesheet',href='../css/bootstrap.css',type='text/css')
    link(rel='stylesheet',href='../css/superfish.css',type='text/css')
    link(rel='stylesheet',href='../css/style.css',type='text/css')
    script(src="../js/modernizr-2.6.2.min.js")
      
  body
    #fh5co-wrapper
      #fh5co-page
        .fh5co-hero
          .fh5co-overlay
            .fh5co-cover.text-center(data-stellar-background-ratio="0.5", style="background-image: url(images/home-image.jpg);")
              .desc.animate-box
                h2 Humidity Solutions
                span
                  | Find your solution!
                  span
                    a.btn.btn-primary(href="#") Get Started
        .fh5co-header
          header#fh5co-header-section
            .container
              .nav-header
                a.js-fh5co-nav-toggle.fh5co-nav-toggle(href="#")
                  h1#fh5co-logo
                    a(href="index.html")
                      | Humidity
                      span Solutions
                  nav#fh5co-menu-wrap(role="navigation")
                    ul#fh5co-primary-menu.sf-menu
                      li.active
                        a(href="index.html") Home
                      li
                        a.fh5co-sub-ddown(href="portfolio.html") Projects
                        ul.fh5co-sub-menu
                          li
                            a(href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template", target="_blank") Build
                      li
                        a.fh5co-sub-ddown(hred="services.html") Services
                        ul.fh5co-sub-menu
                          li
                            a(href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template", target="_blank") Test
                      li
                        a(href="about.html") About
                        li
                          a(href="about.html") About
                        li
                          a(href="blog.html") Blog
                        li
                          a(href="contact.html") Contact
        #fh5co-work-section
          .container
            .row-top-padded-lg
              .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
                h3 Solutions
                p Fight mold
          .container
            .row
              .col-md-8.col-sm-8
                .fh5co-grid.animate-box(style="background-image: url(images/work-1.jpg);")
                  a.image-popup.text-center(href="#")
                    .prod-title
                      h3 Don't just stand there
                      span fight!


      
    script(src='../js/jquery.min.js', type='text/javascript')
    script(src='../js/bootstrap.min.js', type='text/javascript')
    script(src='../js/jquery.easing.1.3.js', type='text/javascript')
    script(src='../js/jquery.waypoints.min.js', type='text/javascript')
    script(src='../js/jquery.stellar.min.js', type='text/javascript')
    script(src='../js/hoverIntent.js', type='text/javascript')
    script(src='../js/superfish.js', type='text/javascript')
    script(src='../js/main.js', type='text/javascript')
